<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script src="../javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="../javascripts/angular.js" type="text/javascript" charset="utf-8"></script>
<script src="../javascripts/script.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="../stylesheets/style.css" type="text/css" media="all" />
</head>

<body ng-app="building">
<div class="" ng-controller='main'>
  <div class="data-channel">
    <input type="hidden" name="" id="local_skp_names" ng-model="local_skp_names" value="" />
    <input type="hidden" name="" id="current_model" ng-model="current_model" value="" />
  </div>
  <div class="head">
    <div id="head_icon">
      <img ng-src="current_model.icon" alt="" />
    </div>

    <div class="head_name_and_actions">
      <input type="text" name="model_name" id="" value="" />
      <dl>
        <dt><a href="" ng-click="bridge('logger', 'abcde')">上传</a></dt>
        <dt><a href="" ng-click="bridge('list', '')">下载</a></dt>
        <dt><a href="">建造</a></dt>
        <dt><a href="">替换</a></dt>
      </dl>
    </div>
  </div>

  <div class="footer">
    <dl>
      <dt><a href="#">注册</a></dt>
      <dt><a href="#">登陆</a></dt>
    </dl>
  </div>

  <div class='container'>
  </div>

</div>
</body>
</html>
