$highlight-color: #3f61ab
$border-color: gray

.uk-container-center, .uk-container
  padding: 0px

.uk-grid
  margin: 0px
  margin-top: 10px!important

.uk-form
  input[type=text]
    border-radius: 0px!important

.uk-button
  border-radius: 0px

.su-container
  height: 100%
  min-height: 1900px

#user_profile, #model_profile
  background-color: $highlight-color
  padding: 5px 5px
 
#user_profile
  width: 100%
  position: fixed
  bottom: 0px

.uk-tab>li>a 
  padding: 8px 20px 8px 20px
  border-radius: 0px!important


.su_models_header
  position: relative

  #search_area
    position: absolute
    top: 0px 
    right: 0px
    height: 20px
    border: 1px solid $border-color
    border-radius: 15px
    padding: 3px 10px
    width: 120px
    input
      border: none
      width: 90px
      height: 16px
      line-height: 16px
